.card {
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    box-shadow: 0 0 0.5rem #12121221;
    background-color: #fff;
    height: 105px;
    width:300px;
    position: relative;
}
.card .ticket-id {
    color: #6b6f76;
    font-size: 0.7rem;
    font-weight: 500;
}
.card .title {
    margin-top: -0.1rem;
    color: #282a2f;
    width: 300px;
    font-size: 0.85rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;           /* Limit to 2 lines */
    -webkit-box-orient: vertical;    /* Specifies vertical stacking of text */
    overflow: hidden;                /* Hides overflow text */
  
}
.card .top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card .middle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* margin-top: 0.5rem; */
}
.card .bottom-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0.5rem;
    position: absolute;
}
.card .tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #edeff2;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
    filter: grayscale();
}
.card .tag-icon {
    background-color: #bec2c8;
    border-radius: 9999px;
    height: 0.75rem;
    width: 0.75rem;
}
.card .tag-text {
    color: #6b6f76;
    font-size: 0.75rem;
    font-weight: bold;
}
.card .more-icon-container {
    display: grid;
    place-items: center;
    border: 1px solid #edeff2;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;   
}
.card svg {
    flex-shrink: 0;
}

@media screen and (max-width:700px) {
    .card {
        min-width: 100%;
    }
}